@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #666;
}
  
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 100px;
}
  
html {
    scroll-behavior: smooth;
}